{% extends 'home/base.html' %}
{% load static %}
{% block process %}

    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout7 text-center bg-overlay bg-parallax">
      <div class="bg-img"><img src={% static "assets/images/page-titles/122.jpg" %} alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="pagetitle__heading">How it works</h1>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->


    <!-- ======================
     Work Process 
    ========================= -->
    <section class="work-process history-timeline pb-0 mt--130">
      <div class="history-timeline-bg">
        <div class="bg-img"><img src={% static "assets/images/backgrounds/7.jpg" %} alt="background"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-6">
            <div class=" heading heading-layout2 mb-100">
              <h3 class="heading__title color-white">Find out more about how we work: starting from the recruiting process and up to the point where we analyze our customers’ feedback.</h3>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-11">
            <!-- process Item #1 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">01</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">We hire the best experts</h4>
                <p class="process-item__desc">Only one out of five applicants becomes a part of our team. To work with us, 
                writers have to pass several online tests on English and on disciplines they are going to cover..</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #2 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">02</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">Concept Prototype</h4>
                <p class="process-item__desc">To know about the product, customers & competitors offer integral
                  communication services software assets. Our skilled personnel, utilising the latest processing
                  software, combined with decades of experience.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #3 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">03</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">Design Layout</h4>
                <p class="process-item__desc">Start to work on the design taking with collected data, we're responsible
                  for our process and results. Skilled personnel, utilising the latest processing software, combined
                  with decades of experience.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #4 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">04</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">Evaluation</h4>
                <p class="process-item__desc">Reach a conclusion from the investigations about product and we thank each
                  of our great clients projects, utilising latest processing software, combined with decades of
                  experience.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #4 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">04</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">Evaluation</h4>
                <p class="process-item__desc">Reach a conclusion from the investigations about product and we thank each
                  of our great clients projects, utilising latest processing software, combined with decades of
                  experience.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #4 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">04</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">Evaluation</h4>
                <p class="process-item__desc">Reach a conclusion from the investigations about product and we thank each
                  of our great clients projects, utilising latest processing software, combined with decades of
                  experience.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #4 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">04</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">Evaluation</h4>
                <p class="process-item__desc">Reach a conclusion from the investigations about product and we thank each
                  of our great clients projects, utilising latest processing software, combined with decades of
                  experience.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #4 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">04</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">Evaluation</h4>
                <p class="process-item__desc">Reach a conclusion from the investigations about product and we thank each
                  of our great clients projects, utilising latest processing software, combined with decades of
                  experience.</p>
              </div>
            </div><!-- /.process-item -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="download-area">
              <p class="download-area__text">Provide users with appropriate view and access permissions to requests,
                problems, changes, contracts, assets, solutions, and reports with our experienced professionals.
              </p>
              <a href="#" class="btn btn__white btn__bordered btn__xl btn__icon mb-30">
                <span>Download Brochure</span>
                <i class="icon-arrow-right"></i>
              </a>
            </div>
          </div><!-- /.col-lg-5 -->
          <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="cta-banner bg-overlay bg-overlay-primary">
              <div class="bg-img"><img src="assets/images/banners/4.jpg" alt="background"></div>
              <h4 class="cta-banner__title">Perfect Solutions That Your Business Demands!</h4>
              <p class="cta-banner__desc">From network and device management to security, we're bringing IT together for
                an integrated, overarching approach.</p>
              <div class="d-flex flex-wrap">
                <a href="#" class="btn btn__secondary btn__secondary-style2 btn__xl mr-20">Request A Demo</a>
                <a href="#" class="btn btn__white btn__bordered btn__xl btn__icon">
                  <span>Get Started</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div>
            </div><!-- /.cta-banner -->
          </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Work Process -->

{% endblock process %}

